* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.row-gap-1 {
  grid-row-gap: 1.5rem;
}

.row-gap-2 {
  grid-row-gap: 2rem;
}

.row > * {
  grid-column: span 12;
}

@media (min-width: 576px) {
  .sm-col-6 {
    grid-column: span 6;
  }
  .col-gap-1 {
    grid-column-gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .md-col-6 {
    grid-column: span 6;
  }
  .md-col-12 {
    grid-column: span 12;
  }
  .col-gap-5 {
    grid-column-gap: 5rem;
  }
}

@media (min-width: 992px) {
  .lg-col-6 {
    grid-column: span 6;
  }
}

body {
  background-color: #f7fbff;
  max-width: 85rem;
  margin: auto;
  margin-bottom: 5rem;
}

hr {
  border: none;
  height: 1px;
  background-color: #dbdbdb;
}

.contact-us {
  color: #102a43;
  text-align: center;
  margin: 2rem 0 0 0;
  font-size: 1.8rem;
}

.form {
  max-width: 62rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-form,
.right-form {
  max-width: 30rem;
  margin: 0 auto;
  display: block;
}

.left-form {
  color: #102a43;
}

.help {
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.form-info {
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}

.option-card {
  font-size: 0.9rem;
  margin: 2rem 0;
}

.option-card .option-br {
  margin-bottom: 1rem;
}

.option-card .option-br ~ .option-br {
  margin: 1rem 0;
}

.option-card .option-heading {
  margin-bottom: 1rem;
  font-weight: bold;
}

.option-card .option-text {
  line-height: 1.5rem;
  color: #505fa0;
}

.option-card img {
  display: none;
}

.right-form {
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: white;
  -webkit-box-shadow: 0 0.2rem 0.5rem -0.1rem rgba(0, 0, 0, 0.445);
          box-shadow: 0 0.2rem 0.5rem -0.1rem rgba(0, 0, 0, 0.445);
  border-radius: .3rem;
}

.right-form input,
.right-form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: .2rem;
  padding: .6rem 1rem;
  font-size: 1rem;
}

.right-form input:focus,
.right-form textarea:focus {
  outline: none;
  border: 1px solid #5457ff;
}

.right-form .form-element {
  font-size: 0.9rem;
  color: #102a43;
  margin-bottom: .5rem;
  display: inline-block;
}

.right-form button[type=submit] {
  border: 2px solid #5457ff;
  background-color: #5457ff;
  color: white;
  font-size: 1.2rem;
  padding: .7rem;
  border-radius: .3rem;
  outline: none;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  cursor: pointer;
}

.right-form .form-br {
  margin: 2.5rem 0 2rem 0;
}

.right-form .contact-info-heading {
  color: #102a43;
  font-weight: bold;
  margin-bottom: .5rem;
}

.right-form .location,
.right-form .phone,
.right-form .email {
  color: #505fa0;
  line-height: 2.5rem;
  font-size: 0.9rem;
}

@media (min-width: 576px) {
  .right-form button[type=submit]:hover {
    background-color: white;
    color: #5457ff;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
  }
  .right-form button[type=submit]:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
  }
}

@media (min-width: 768px) {
  .left-form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .form-info,
  .help {
    text-align: left;
  }
  .contact-us {
    margin-bottom: 3rem;
  }
  .help {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .contact {
    font-size: 2.8rem;
  }
  .option-card .option-hover {
    position: relative;
    cursor: pointer;
  }
  .option-card .option-hover img {
    display: block;
    position: absolute;
    width: 1rem;
    height: auto;
    right: 1rem;
    top: 20%;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
  }
  .option-card .option-hover:hover img {
    right: 0;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
  }
  .right-form {
    padding: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */