$dark-color: #102a43;
$light-color: #627d98;
$bg-color: #f7fbff;
$purple: #5457ff;
$biggest-text: 2.8rem;
$bigger-text: 1.8rem;
$normal-text: 1rem;
$small-text: 0.9rem;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

