body{
    background-color: rgb(63, 63, 66);
    font-family: cursive;
    box-sizing: border-box;
}

header h1{
    color: rgb(165, 165, 165);
    text-align: center;
}

.poster{
    background-color: rgb(97, 95, 95);
    padding: 50px;
    width: 650px;
    margin: auto;
}

img{
    width: 300px;
    height: auto;
}

img + img{
    margin-left: 46px;
}
