<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">

  <title>Frontend Mentor | Profile card component</title>

  <link rel="stylesheet" href="css/main.css">
</head>

<body>


  <div class="card">
    <div class="card__top-img">
      <img src="images/bg-pattern-card.svg" alt="">
    </div>

    <div class="card__user-details">
      <div class="card__user-details__img">
        <img src="images/image-victor.jpg" alt="user image">
      </div>
      <p class="card__user-details__user-name"><span class="name">Victor Crest</span> 26</p>
      <p class="card__user-details__location">London</p>
    </div>

    <hr class="status-break">

    <div class="card__status">
      <div>
        <p class="card__status__count">80K</p>
        <p class="card__status__text">Followers</p>
      </div>
      <div>
        <p class="card__status__count">803K</p>
        <p class="card__status__text">Likes</p>
      </div>
      <div>
        <p class="card__status__count">1.4K</p>
        <p class="card__status__text">Photos</p>
      </div>
    </div>
  </div>


</body>

</html>